In [1]:
#Add the Pandas dependency
import pandas as pd

In [2]:
#Files to load
enrollment15_16_df=pd.read_csv("../enrollment15-16.csv")
enrollment15_16_df.head()

,CDS_CODE,COUNTY,DISTRICT,SCHOOL,ETHNIC,GENDER,KDGN,GR_1,GR_2,GR_3,...,GR_7,GR_8,UNGR_ELM,GR_9,GR_10,GR_11,GR_12,UNGR_SEC,ENR_TOTAL,ADULT
0,1.100170e+12,Alameda,Alameda County Office of Education,Oakland Unity Middle,5,F,0,0,0,0,...,11,0,0,0,0,0,0,0,33,0
1,1.100170e+12,Alameda,Alameda County Office of Education,Oakland Unity Middle,7,F,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,1.100170e+12,Alameda,Alameda County Office of Education,Oakland Unity Middle,6,F,0,0,0,0,...,2,0,0,0,0,0,0,0,4,0
3,1.100170e+12,Alameda,Alameda County Office of Education,Oakland Unity Middle,5,M,0,0,0,0,...,10,0,0,0,0,0,0,0,30,0
4,1.100170e+12,Alameda,Alameda County Office of Education,Oakland Unity Middle,4,M,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [3]:
#Determine any missing values 
enrollment15_16_df.dropna()
enrollment15_16_df.count()

CDS_CODE     129717
COUNTY       129717
DISTRICT     129717
SCHOOL       129717
ETHNIC       129717
GENDER       129717
KDGN         129717
GR_1         129717
GR_2         129717
GR_3         129717
GR_4         129717
GR_5         129717
GR_6         129717
GR_7         129717
GR_8         129717
UNGR_ELM     129717
GR_9         129717
GR_10        129717
GR_11        129717
GR_12        129717
UNGR_SEC     129717
ENR_TOTAL    129717
ADULT        129717
dtype: int64

In [4]:
#Determine data types
enrollment15_16_df.dtypes

CDS_CODE     float64
COUNTY        object
DISTRICT      object
SCHOOL        object
ETHNIC         int64
GENDER        object
KDGN           int64
GR_1           int64
GR_2           int64
GR_3           int64
GR_4           int64
GR_5           int64
GR_6           int64
GR_7           int64
GR_8           int64
UNGR_ELM       int64
GR_9           int64
GR_10          int64
GR_11          int64
GR_12          int64
UNGR_SEC       int64
ENR_TOTAL      int64
ADULT          int64
dtype: object

In [6]:
cleaned_enrollment15_16_df=enrollment15_16_df[['CDS_CODE','COUNTY','DISTRICT','SCHOOL','ETHNIC','GENDER','ENR_TOTAL']]
cleaned_enrollment15_16_df.head()

,CDS_CODE,COUNTY,DISTRICT,SCHOOL,ETHNIC,GENDER,ENR_TOTAL
0,1.100170e+12,Alameda,Alameda County Office of Education,Oakland Unity Middle,5,F,33
1,1.100170e+12,Alameda,Alameda County Office of Education,Oakland Unity Middle,7,F,1
2,1.100170e+12,Alameda,Alameda County Office of Education,Oakland Unity Middle,6,F,4
3,1.100170e+12,Alameda,Alameda County Office of Education,Oakland Unity Middle,5,M,30
4,1.100170e+12,Alameda,Alameda County Office of Education,Oakland Unity Middle,4,M,1

In [7]:
cleaned_enrollment15_16_df['CDS_CODE'] = cleaned_enrollment15_16_df['CDS_CODE'].astype('int64') 
cleaned_enrollment15_16_df.head()

C:\Users\hhngu\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,CDS_CODE,COUNTY,DISTRICT,SCHOOL,ETHNIC,GENDER,ENR_TOTAL
0,1100170000000,Alameda,Alameda County Office of Education,Oakland Unity Middle,5,F,33
1,1100170000000,Alameda,Alameda County Office of Education,Oakland Unity Middle,7,F,1
2,1100170000000,Alameda,Alameda County Office of Education,Oakland Unity Middle,6,F,4
3,1100170000000,Alameda,Alameda County Office of Education,Oakland Unity Middle,5,M,30
4,1100170000000,Alameda,Alameda County Office of Education,Oakland Unity Middle,4,M,1

In [9]:
cleaned_enrollment15_16_df.to_csv('../cleaned_data/clean_enroll15_16.csv',index=False)