In [1]:
#Add the Pandas dependency
import pandas as pd

In [2]:
#Files to load
grad_enroll=pd.read_csv('../../Grad_Enroll/grad_enroll_1617.csv')
grad_enroll

        CDS_CODE  ETHNIC  GR_12  ENR_TOTAL  GRADS  UC_GRADS
0  1751010000000       2    434       1835      3         0
1  1751010000000       5    114        479      1         0
2  1751010000000       7    629       2315     11         1
3  7617540000000       5    982       3983      1         0
4  7617960000000       5   1266       6630      6         0
5  7617960000000       6    436       1913      5         0
6  7617960000000       7    199        958      3         0

In [3]:
finance_data=pd.read_csv("../../Finance Data/Finance_Data/Finance_1617.csv")
finance_data

,CDS_CODE,Object,Function,Amount
0,1100170000000,Administrative Unit (AU) of a Multidistrict SE...,Guidance and Counseling Services ...,3.095923e+05
1,1100170000000,Administrative Unit (AU) of a Multidistrict SE...,Plant Maintenance and Operations ...,6.197631e+05
2,1100170000000,Administrative Unit (AU) of a Multidistrict SE...,Warehousing and Distribution ...,9.129388e+04
3,1100170000000,Budgeting ...,General Administration Cost Transfers ...,8.367351e-11
4,1100170000000,Civic Services ...,Other General Administration ...,6.306200e+04
...,...,...,...,...
30003,58727690000000,Other Community Services ...,School Administration ...,2.556883e+04
30004,58727690000000,School-Sponsored Athletics ...,Instruction ...,4.653820e+03
30005,58727690000000,School-Sponsored Athletics ...,"Instructional Library, Media, and Technology ...",3.394180e+03
30006,58727690000000,School-Sponsored Co-curricular ...,Instruction ...,1.468854e+04
30007,58727690000000,Transfers Between Agencies ...,Not Applicable (For use with revenues and bala...,3.962536e+05

In [4]:
grad_enroll_finance=pd.merge(grad_enroll, finance_data, on=['CDS_CODE'])
grad_enroll_finance

,CDS_CODE,ETHNIC,GR_12,ENR_TOTAL,GRADS,UC_GRADS,Object,Function,Amount
0,1751010000000,2,434,1835,3,0,Administrative Unit (AU) of a Multidistrict SE...,Attendance and Social Work Services ...,143059.79
1,1751010000000,2,434,1835,3,0,Administrative Unit (AU) of a Multidistrict SE...,Enterprise ...,1588716.89
2,1751010000000,2,434,1835,3,0,Administrative Unit (AU) of a Multidistrict SE...,Food Services ...,1240242.62
3,1751010000000,2,434,1835,3,0,Administrative Unit (AU) of a Multidistrict SE...,Health Services ...,279514.44
4,1751010000000,2,434,1835,3,0,Administrative Unit (AU) of a Multidistrict SE...,"Instructional Library, Media, and Technology ...",456108.11
...,...,...,...,...,...,...,...,...,...
403,7617960000000,7,199,958,3,0,School-Sponsored Athletics ...,Instruction ...,52922.24
404,7617960000000,7,199,958,3,0,School-Sponsored Athletics ...,"Instructional Library, Media, and Technology ...",497872.19
405,7617960000000,7,199,958,3,0,School-Sponsored Athletics ...,School-Sponsored Co-curricular ...,60196.76
406,7617960000000,7,199,958,3,0,School-Sponsored Co-curricular ...,Instruction ...,3173121.63
407,7617960000000,7,199,958,3,0,Transfers Between Agencies ...,Not Applicable (For use with revenues and bala...,3735732.37

In [5]:
grad_enroll_finance.to_csv('../All_Data_Data/All_1617')