In [1]:
#Add the Pandas dependency
import pandas as pd
import numpy as np

In [3]:
#Files to load
enrollment13_14_df=pd.read_csv("../enrollment12_13.csv")
enrollment13_14_df.head()

,CDS_CODE,COUNTY,DISTRICT,SCHOOL,ETHNIC,GENDER,KDGN,GR_1,GR_2,GR_3,...,GR_7,GR_8,UNGR_ELM,GR_9,GR_10,GR_11,GR_12,UNGR_SEC,ENR_TOTAL,ADULT
0,9.619300e+12,El Dorado,Mother Lode Union Elementary,Indian Creek Elementary,7,M,41,38,36,48,...,0,0,0,0,0,0,0,0,211,0
1,9.619300e+12,El Dorado,Mother Lode Union Elementary,Indian Creek Elementary,2,M,0,1,1,0,...,0,0,0,0,0,0,0,0,2,0
2,9.619300e+12,El Dorado,Mother Lode Union Elementary,Indian Creek Elementary,6,M,1,1,0,2,...,0,0,0,0,0,0,0,0,4,0
3,9.619300e+12,El Dorado,Mother Lode Union Elementary,Indian Creek Elementary,1,F,7,1,1,1,...,0,0,0,0,0,0,0,0,10,0
4,9.619300e+12,El Dorado,Mother Lode Union Elementary,Indian Creek Elementary,0,F,1,0,0,1,...,0,0,0,0,0,0,0,0,2,0

In [4]:
#Determine any missing values 
enrollment13_14_df.dropna()
enrollment13_14_df.count()

CDS_CODE     127445
COUNTY       127445
DISTRICT     127445
SCHOOL       127445
ETHNIC       127445
GENDER       127445
KDGN         127445
GR_1         127445
GR_2         127445
GR_3         127445
GR_4         127445
GR_5         127445
GR_6         127445
GR_7         127445
GR_8         127445
UNGR_ELM     127445
GR_9         127445
GR_10        127445
GR_11        127445
GR_12        127445
UNGR_SEC     127445
ENR_TOTAL    127445
ADULT        127445
dtype: int64

In [5]:
#Determine data types
enrollment13_14_df.dtypes

CDS_CODE     float64
COUNTY        object
DISTRICT      object
SCHOOL        object
ETHNIC         int64
GENDER        object
KDGN           int64
GR_1           int64
GR_2           int64
GR_3           int64
GR_4           int64
GR_5           int64
GR_6           int64
GR_7           int64
GR_8           int64
UNGR_ELM       int64
GR_9           int64
GR_10          int64
GR_11          int64
GR_12          int64
UNGR_SEC       int64
ENR_TOTAL      int64
ADULT          int64
dtype: object

In [6]:
cleaned_enrollment13_14_df=enrollment13_14_df[['CDS_CODE','COUNTY','DISTRICT','SCHOOL','ETHNIC','GENDER','ENR_TOTAL']]
cleaned_enrollment13_14_df.head()

,CDS_CODE,COUNTY,DISTRICT,SCHOOL,ETHNIC,GENDER,ENR_TOTAL
0,9.619300e+12,El Dorado,Mother Lode Union Elementary,Indian Creek Elementary,7,M,211
1,9.619300e+12,El Dorado,Mother Lode Union Elementary,Indian Creek Elementary,2,M,2
2,9.619300e+12,El Dorado,Mother Lode Union Elementary,Indian Creek Elementary,6,M,4
3,9.619300e+12,El Dorado,Mother Lode Union Elementary,Indian Creek Elementary,1,F,10
4,9.619300e+12,El Dorado,Mother Lode Union Elementary,Indian Creek Elementary,0,F,2

In [7]:
cleaned_enrollment13_14_df['CDS_CODE'] = cleaned_enrollment13_14_df['CDS_CODE'].astype('int64') 
cleaned_enrollment13_14_df.head()

C:\Users\hhngu\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,CDS_CODE,COUNTY,DISTRICT,SCHOOL,ETHNIC,GENDER,ENR_TOTAL
0,9619300000000,El Dorado,Mother Lode Union Elementary,Indian Creek Elementary,7,M,211
1,9619300000000,El Dorado,Mother Lode Union Elementary,Indian Creek Elementary,2,M,2
2,9619300000000,El Dorado,Mother Lode Union Elementary,Indian Creek Elementary,6,M,4
3,9619300000000,El Dorado,Mother Lode Union Elementary,Indian Creek Elementary,1,F,10
4,9619300000000,El Dorado,Mother Lode Union Elementary,Indian Creek Elementary,0,F,2

In [9]:
cleaned_enrollment13_14_df.to_csv('../cleaned_data/clean_enroll13_14.csv',index=False)